{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resto Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/typeahead.css'%}">
    <link rel="stylesheet" href="{% static 'css/toastr.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'datatables/css/dataTables.bootstrap4.min.css' %}"/>
    <style>
        html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}
.billing-page {
    font-size:80%
}
    </style>
</head>
<body class="d-flex flex-column" style="background-color: #d6e0f6!important;">
    {% include 'partials/_navbar.html' %}
    <div id="page-content">
        {% block content %}
        {% endblock %}
    </div>
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/toastr.min.js' %}"></script>
    <script src="{% static 'js/bootbox.all.min.js'%}"></script>
    <script src="{% static 'js/crud.js'%}"></script>
    <script src="{% static 'datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'datatables/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'js/typeahead.js' %}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>