{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="card mt-3">
        <div class="card-header">
            <h5>Dashboard</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                        <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                            <div class="card-header">
                                <h1 class="card-title float-right">{{restrauntsCount}}</h1>
                                Restraunts
                            </div>
                            <div class="card-footer text-content">
                                <a href="/Restraunts" class="btn btn-danger btn-block ">
                                    More Info <i class="fa fa-arrow-circle-right"></i> 
                                </a>
                            </div>
                        </div>
                </div>
                <div class="col-md-4">
                        <div class="card text-light bg-danger mb-3" style="max-width: 18rem;">
                            <div class="card-header">
                                <h1 class="card-title float-right">{{usersCount}}</h1>
                                Users
                            </div>
                            <div class="card-footer text-content">
                                <a href="/Users" class="btn btn-danger btn-block ">
                                    More Info <i class="fa fa-arrow-circle-right"></i> 
                                </a>
                            </div>
                        </div>
                </div>
                <div class="col-md-4">
                        <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                            <div class="card-header"> 
                                <h1 class="card-title float-right">{{transCount}}</h1>
                                Transactions
                            </div>
                            <div class="card-footer text-content">
                                <a href="/Transactions" class="btn btn-danger btn-block ">
                                    More Info <i class="fa fa-arrow-circle-right"></i> 
                                </a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="card-header">
            <h5>Recent Transactions</h5>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-sm" id="transactions">
                <thead>
                    <tr class="bg-danger text-light">
                        <th>Slno</th>
                        <th>Restraunt</th>
                        <th>User</th>
                        <th>Description</th>
                        <th>Amount</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function(){
        $('#transactions').DataTable({
            ajax:{
                url:"/api/transactions/list/?recent=true",
                dataSrc:""
            },
            columns:[
                {
                    data:"id"
                },
                {
                    data:"restraunt_id.name"
                },
                {
                    data:"users_id.name"
                },
                {
                    data:"description"
                },
                {
                    data:"trans_amt"
                },
                {
                    data:"trans_date"
                }
            ]
        })
    })
</script>
{% endblock %}