{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="card mt-3">
        <div class="card-header">
            <h5>Dashboard</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                        <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                            <div class="card-header">
                                <h1 class="card-title float-right">50</h1>
                                Resraunts
                            </div>
                            <div class="card-footer text-content">
                                <a href="#" class="btn btn-danger btn-block ">
                                    More Info <i class="fa fa-arrow-circle-right"></i> 
                                </a>
                            </div>
                        </div>
                </div>
                <div class="col-md-4">
                        <div class="card text-light bg-danger mb-3" style="max-width: 18rem;">
                            <div class="card-header">
                                <h1 class="card-title float-right">150</h1>
                                Users
                            </div>
                            <div class="card-footer text-content">
                                <a href="#" class="btn btn-danger btn-block ">
                                    More Info <i class="fa fa-arrow-circle-right"></i> 
                                </a>
                            </div>
                        </div>
                </div>
                <div class="col-md-4">
                        <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                            <div class="card-header"> 
                                <h1 class="card-title float-right">1150</h1>
                                Transactions
                            </div>
                            <div class="card-footer text-content">
                                <a href="#" class="btn btn-danger btn-block ">
                                    More Info <i class="fa fa-arrow-circle-right"></i> 
                                </a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="card-header">
            <h5>Recent Transactions</h5>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-sm" id="transactions">
                <thead>
                    <tr class="bg-danger text-light">
                        <th>Slno</th>
                        <th>Restraunt</th>
                        <th>User</th>
                        <th>Description</th>
                        <th>Amount</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Krstall Park Inn</td>
                        <td>Mack</td>
                        <td>Sunday Meals</td>
                        <td>$150</td>
                        <td>21/01/2021</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Subway</td>
                        <td>Zack</td>
                        <td>Wednesday Meals</td>
                        <td>$350</td>
                        <td>21/01/2021</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>KFC</td>
                        <td>Sam</td>
                        <td>Friday meals</td>
                        <td>$250</td>
                        <td>21/01/2021</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>McDonalds</td>
                        <td>Dash</td>
                        <td>Large Combo</td>
                        <td>$750</td>
                        <td>21/01/2021</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function(){
        $('#transactions').DataTable()
    })
</script>
{% endblock %}