{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="card mt-3">
        <div class="card-header">
            <h5 id="title">Restraunts</h5>
        </div>
        <ul class="nav nav-pills sr-only" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#list" role="tab"
                    aria-controls="pills-home" aria-selected="true">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#form" role="tab"
                    aria-controls="pills-profile" aria-selected="false">Profile</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="list" role="tabpanel" aria-labelledby="pills-home-tab">
                
                <div class="card-body">
                    <div class="form-group">
                        <button class="btn btn-danger btn-sm" id="newCustomer">
                            <i class="fa fa-plus-circle"></i> Add New Restraunt
                        </button>
                    </div>
                    <table class="table table-hover table-striped table-sm" id="Restraunts">
                        <thead>
                            <tr class="bg-danger text-light">
                                <th>Slno</th>
                                <th>Restraunt Name</th>
                                <th>Address</th>
                                <th>Description</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="form" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="card-body">
                    <form id="restrauntForm">
                        <div class="row">
                            <div class="offset-md-3 col-md-6">
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="hidden" name="id" id="cus_id">
                                        <input type="hidden" name="partType" value="S">
                                        <div class="from-group">
                                            <label for="name">Restraunt Name</label>
                                            <input type="text" class="form-control" name="name" id="name" placeholder="Enter Restraunt Name">
                                        </div>
                                        <div class="from-group">
                                            <label for="phoneNumber">Latitude</label>
                                            <input type="text" class="form-control" name="latitude" id="latitude" placeholder="Enter Restraunt Latitude">
                                        </div>
                                        <div class="from-group">
                                            <label for="phoneNumber">Longitude</label>
                                            <input type="text" class="form-control" name="longitude" id="longitude" placeholder="Enter Restraunt Longitude">
                                        </div>
                                        <p>to get latitude and logitude details <a href="https://latlong.net" target="_blank">click here.</a></p>
                                        <div class="from-group">
                                            <label for="address">Address</label>
                                            <textarea name="address" id="address" class="form-control" rows="4"
                                                placeholder="Enter Restraunt Address"></textarea>
                                        </div>
                                        <div class="from-group">
                                            <label for="address">Description</label>
                                            <textarea name="about" id="about" class="form-control" rows="4"
                                                placeholder="Write About the Restraunt"></textarea>
                                        </div>
                                        <div class="from-group">
                                            <label for="phoneNumber">Open Time</label>
                                            <input type="time" class="form-control" name="open_time" id="open_time" placeholder="Enter Restraunt Open Time">
                                        </div>
                                        <div class="from-group">
                                            <label for="phoneNumber">Close Time</label>
                                            <input type="time" class="form-control" name="close_time" id="close_time" placeholder="Enter Restraunt Close Time">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mt-3">
                                    <button class="btn btn-danger" id="submitBtn">
                                        Add Restraunt
                                    </button>
                                    <button class="btn btn-secondary" type="reset">
                                        Reset
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <button class="btn btn-danger btn-sm float-right" id="listCustomer">
                        <i class="fa fa-tasks"></i> Restraunt List
                    </button>
                </div>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}
{% block scripts %}

<script>
    $(document).ready(function(){
        $('#newCustomer').click(function(){
          $('#myTab a[href="#form"]').tab('show')
        })
        
        $('#listCustomer').click(function(){
          $('#myTab a[href="#list"]').tab('show')
        })

        var table = $('#Restraunts').DataTable({
            ajax:{
                url:'/api/restraunts/data/',
                dataSrc:''
            },
            columns:[
                {
                    data:'id',
                    "className":"align-middle"
                },{
                    data:'name',
                    "className":"align-middle"
                },{
                    data:'address',
                    "className":"align-middle"
                },{
                    data:'about',
                    "className":"align-middle"
                },{
                    data:'id',
                    render:function(data,type,row){
                        return `<button type="button" data-id='${data}' data-obj='${JSON.stringify(row)}' class="btn rounded-circle btn-primary btn-sm edit">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <button type="button" data-id='${data}' class="btn rounded-circle btn-danger btn-sm delete">
                                    <i class="fa fa-trash"></i>
                                </button>`
                    }
                }
            ]
        })

        crudOperations({
              url:'/api/restraunts/data/',
              put_url: '/api/restraunts/data/',
              table_id:'#Restraunts',
              id_selector:'#cus_id',
              form_id:'#restrauntForm',
              table:table,
              entity:'Restraunt',
              tabs:true,
        })
    })
</script>

{% endblock %}