{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="card mt-3">
        <div class="card-header">
            <h5 id="title">Trasactions</h5>
        </div>
        <ul class="nav nav-pills sr-only" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#list" role="tab"
                    aria-controls="pills-home" aria-selected="true">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#form" role="tab"
                    aria-controls="pills-profile" aria-selected="false">Profile</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="list" role="tabpanel" aria-labelledby="pills-home-tab">
                
                <div class="card-body">
                    <table class="table table-bordered table-sm" id="transactions">
                        <thead>
                            <tr class="bg-danger text-light">
                                <th>Slno</th>
                                <th>Restraunt</th>
                                <th>User</th>
                                <th>Description</th>
                                <th>Amount</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="form" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="card-body">
                    <form id="customerForm">
                        <div class="row">
                            <div class="offset-md-3 col-md-6">
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="hidden" name="id" id="cus_id">
                                        <input type="hidden" name="partType" value="S">
                                        <div class="from-group">
                                            <label for="name">Supplier Name</label>
                                            <input type="text" class="form-control" name="name" id="name" placeholder="Enter Supplier Name">
                                        </div>
                                        <div class="from-group">
                                            <label for="email">Email</label>
                                            <input type="text" class="form-control" name="email" id="email" placeholder="Enter Supplier Email">
                                        </div>
                                        <div class="from-group">
                                            <label for="phoneNumber">Phone Number</label>
                                            <input type="text" class="form-control" name="phoneNumber" id="phoneNumber" placeholder="Enter Supplier Phone Number">
                                        </div>
                                        <div class="from-group">
                                            <label for="address">address</label>
                                            <textarea name="address" id="address" class="form-control" rows="4"
                                                placeholder="Enter Cutomer Address"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mt-3">
                                    <button class="btn btn-primary" id="submitBtn">
                                        Add Customer
                                    </button>
                                    <button class="btn btn-secondary" type="reset">
                                        Reset
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary btn-sm float-right" id="listCustomer">
                        <i class="fa fa-tasks"></i> Inventory List
                    </button>
                </div>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}
{% block scripts %}

<script>
    $(document).ready(function(){
        $('#newCustomer').click(function(){
          $('#myTab a[href="#form"]').tab('show')
        })
        
        $('#listCustomer').click(function(){
          $('#myTab a[href="#list"]').tab('show')
        })

        $('#transactions').DataTable({
            ajax:{
                url:"/api/transactions/list/?recent=true",
                dataSrc:""
            },
            columns:[
                {
                    data:"id"
                },
                {
                    data:"restraunt_id.name"
                },
                {
                    data:"users_id.name"
                },
                {
                    data:"description"
                },
                {
                    data:"trans_amt"
                },
                {
                    data:"trans_date"
                }
            ]
        })
    })
</script>

{% endblock %}